{% extends 'base.html.twig' %}

{% block title %}show category{% endblock %}

{% block body %}
<div class="container">
<h2>Visualiser une catégorie en particulier</h2>
    {# Je fais apparaître mon formulaire #}
    <h4>Voir ma catégorie : {{ category.name }}</h4>
</div>
{% endblock %}
