{% extends 'base.html.twig' %}

{% block title %}Edit NomUser{% endblock %}

{% block body %}
    <h1>Edit NomUser</h1>

    {{ include('nom_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('nom_user_index') }}">back to list</a>

    {{ include('nom_user/_delete_form.html.twig') }}
{% endblock %}
